@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --paragraph-font: 'Montserrat', sans-serif;
}

body {
    font-family: var(--paragraph-font);
    font-size: 1.2em;
    color: #333;
    background: #fff;
    max-width: 650px;
    margin: 0 auto;
  }

header {
    width: 100%;
}
  
h1 {
    margin: 1em;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

legend{
    color: navy;
    font-size:larger;
    padding: 0.5rem;
}

form {
    background-color: rgb(208, 205, 205);
    border-radius: 0.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}

fieldset{
    background-color:  rgb(219, 212, 212);
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 0.5rem;
}

label{
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
   
}

label[for="comment"] {
    text-align: center;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 150px;
    display: flex;
    justify-self: center;
    justify-content: center;
  }
  
  button:hover {
    background-color: darkgreen;
  }

footer{
    margin: 1rem auto 0;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 2fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

