* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.53);
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20em; 
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #f0f0f0; 
    color: #333; /* Text color */
    text-align: center;
    position: relative; 
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 130px;   
  }

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: #2980B9;
    padding: 10px;
}

p { 
    padding: 0;  
}

footer {
    margin-top: 20px;
    border-top: 2px solid #333;
    text-align: center;
}

h1 {
    color: #2980B9;
}
  
/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .1); 
    background-color: gainsboro;
    color: #000;
    overflow: hidden;
}

/* specific class selector */
div.box > p {
    text-align: left;    
}